body {
  margin: 0;
  padding: 0;
}

.sign-in-up {
  background: -webkit-linear-gradient(left, #d4cd00, #A41312);
  margin-top: 3%;
  padding: 3%;
}

.register-left,
.login-left {
  text-align: center;
  color: #fff;
  margin-top: 4%;
}

.register-left input,
.login-left input {
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #b63a29;
  margin-bottom: 3%;
  cursor: pointer;
}

.register-right,
.registerFaculty-right,
.login-right,
.validation-right,
.forgot-password-right {
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}

.register-left img,
.login-left img {
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 1s infinite alternate;
}

@-webkit-keyframes mover {
  0% {
      transform: translateY(0);
  }

  100% {
      transform: translateY(-20px);
  }
}

@keyframes mover {
  0% {
      transform: translateY(0);
  }

  100% {
      transform: translateY(-20px);
  }
}

.register-left p,
.login-left p {
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
}

.sign-in-up .register-form,
.sign-in-up .login-form,
.sign-in-up .validation-form,
.sign-in-up .forgot-password-form {
  padding: 10%;
  margin-top: 10%;
  justify-content: center;
}

.btnRegister,
.btnlogin {
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #b63a29;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}

.register-heading,
.login-heading,
.validation-heading,
.forgot-password-heading {
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .sign-in-up {
      margin-top: 1%;
      padding: 2%;
  }

  .register-left input,
  .login-left input {
      width: 80%;
  }

  .register-left,
  .login-left {
      margin-top: 2%;
  }

  .register-left img,
  .login-left img {
      width: 40%;
      margin-top: 10%;
  }

  .sign-in-up .register-form,
  .sign-in-up .login-form,
  .sign-in-up .validation-form,
  .sign-in-up .forgot-password-form {
      padding: 5%;
  }

  .register-right,
  .registerFaculty-right,
  .login-right,
  .validation-right,
  .forgot-password-right {
      border-top-left-radius: 5% 50%;
      border-bottom-left-radius: 5% 50%;
      padding: 2%;
  }

  .btnRegister,
  .btnlogin {
      width: 100%;
      font-size: 1rem;
  }
}

@media (max-width: 576px) {

  .register-left,
  .login-left,
  .register-right,
  .login-right,
  .validation-right,
  .registerFaculty-right,
  .forgot-password-right {
      border-radius: 0;
  }
}